{% extends "./manager_index.html" %}
{% load static %}
{% block title %}ROOM{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/addRoom.css' %}">
<script src="https://cdn.tailwindcss.com"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block content %}
  <section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
        <h2 class="text-center mb-4 text-xl font-bold text-gray-900 dark:text-black">Add a new room</h2>
        <form method="POST" class="form" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="grid gap-4 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 sm:gap-6">
            <div class="sm:col-span-1">
                <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Room Number</label>
                <input type="text" name="num" id="name" class="w-full p-2.5 border rounded-lg bg-gray-300 border-gray-300 text-sm focus:ring-primary-600 focus:border-primary-600 dark:bg-gray-300 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Enter room number" value="{{room.num}}" required>
            </div>

            <div class="sm:col-span-1">
                <label for="price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Price</label>
                <input type="text" name="price" id="price" class="w-full p-2.5 border rounded-lg bg-gray-50 border-gray-300 text-sm focus:ring-primary-600 focus:border-primary-600 dark:bg-gray-300 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Enter price" value="{{room.price}}" required>
            </div>

            <div class="sm:col-span-1">
                <label for="type" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Type</label>
                <select name="type" id="type" class="w-full p-2.5 border rounded-lg bg-gray-50 border-gray-300 text-sm focus:ring-primary-600 focus:border-primary-600 dark:bg-gray-300 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-primary-500 dark:focus:border-primary-500">
                    <option value="" disabled selected>Select Type</option>
                    <option {% if room.type == 'King' %} selected {% endif %} value="King">King</option>
                    <option {% if room.type == 'Queen' %} selected {% endif %} value="Queen">Queen</option>
                    <option {% if room.type == 'Single' %} selected {% endif %} value="Single">Single</option>
                </select>
            </div>

            <div class="sm:col-span-1 md:col-span-2 lg:col-span-3">
                <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Description</label>
                <textarea name="description" id="description" rows="8" class="w-full p-2.5 border rounded-lg bg-gray-50 border-gray-300 text-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-300 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Your description here">{{room.description}}</textarea>
            </div>

            <div class="sm:col-span-1 md:col-span-2 lg:col-span-3">
                <label for="file" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Image Upload</label>
                <input type="file" name="image" id="file" accept="image/*" class="w-full p-2.5 bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 dark:bg-gray-300 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-primary-500 dark:focus:border-primary-500" multiple required>
            </div>
          </div>
          
          <button type="submit" class="flex justify-center items-center w-full px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                Add Room
          </button>
        </form>
    </div>
  </section>
{% endblock %}
