{% extends "./manager_index.html" %}
{% load static %}
{% block title %}index{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/facture.css' %}">
{% endblock %}

{% block content %}
<body>
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title">
                                <img
                                    src="https://sparksuite.github.io/simple-html-invoice-template/images/logo.png"
                                    style="width: 100%; max-width: 300px"
                                />
                            </td>

                            <td>
                                Invoice #: {{ reservation.id }}<br />
                                Created: <span id="createdDate"></span><br />
                                Due: <span id="dueDate"></span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                                Sparksuite, Inc.<br />
                                12345 Sunny Road<br />
                                Sunnyville, CA 12345
                            </td>

                            <td>
                                {{ reservation.client.fullname }}<br />
                                {{ reservation.client.address }} |
                                {{ reservation.client.phone_num }}<br />
                                {{ reservation.client.user.email }}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="heading">
                <td>Payment Method</td>

                <td>Check #</td>
            </tr>

            <tr class="details">
                <td>Check</td>

                <td>1000</td>
            </tr>

            <tr class="heading">
                <td>Item</td>

                <td>Price</td>
            </tr>

            
            {% for room in reservation.rooms.all %}
            <tr class="item">
                <td>Chambre : {{ room.type }}</td> 
                <td>{{ room.getPrice }}Dh</td> 
            </tr>
            {% endfor %}

            <tr class="total">
                <td></td>
                <td>Total: {{ reservation.totalPrice }} Dh</td>
            </tr>
        </table>
    </div>

    <!-- Download Invoice button -->
	<button id="downloadButton">Download Invoice</button>

{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.3/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>

<script src="{% static 'js/facture.js' %}"></script>


<script>
    // Function to generate PDF
    function generatePDF() {
        // Select the element containing the invoice details
        const element = document.querySelector(".invoice-box");

        // Options for PDF generation
        const options = {
            margin: 10,
            filename: 'invoice.pdf',
            image: { type: 'jpeg', quality: 1 }, // Maximum quality JPEG images
            html2canvas: { scale: 3 }, // Increase scale for better quality
            
        };

        // Generate PDF from HTML element
        html2pdf()
            .set(options)
            .from(element)
            .save();
    }

    // Wait for content to load before generating PDF
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("downloadButton").addEventListener("click", generatePDF);
    });
</script>


{% endblock %}
