{% extends "./manager_index.html" %}

{% block title %}index{% endblock %}

{% block style%}
<script src="https://cdn.tailwindcss.com"></script> 
<link rel="stylesheet" href="./node_modules/apexcharts/dist/apexcharts.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block content %}
<div class="container mt-24">
    <div class="row">
        <div class="col-md-4">

                <div class="flex items-center bg-white border rounded-sm overflow-hidden shadow">
                    <div class="p-4 bg-green-400">
                        <image src="../static/images/employee.png" class="h-12 w-12 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor"/>

                    </div>
                    <div class="px-4 text-gray-700">
                        <h3 class="text-sm tracking-wider">Total Employee</h3>
                        <p class="text-3xl">{{total_employee}}</p>
                    </div>
                </div>
            </div>
   

        <div class="col-md-4">
          
                <div class="flex items-center bg-white border rounded-sm overflow-hidden shadow">
                    <div class="p-4 bg-blue-400">
                        <image src="../static/images/reserve.png" class="h-12 w-12 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor"/>

                    </div>
                    <div class="px-4 text-gray-700">
                        <h3 class="text-sm tracking-wider">Total Reservation</h3>
                        <p class="text-3xl">{{total_reservation}}</p>
                    </div>
                </div>
            </div>
   

        <div class="col-md-4">
           
                <div class="flex items-center bg-white border rounded-sm overflow-hidden shadow">
                    <div class="p-4 bg-green-400">
                        <image src="../static/images/hotel.png" class="h-12 w-12 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor"/>
                    </div>
                    <div class="px-4 text-gray-700">
                        <h3 class="text-sm tracking-wider">Total Room</h3>
                        <p class="text-3xl">{{total_room}}</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="w-fit h-fit">
            <canvas id="myChart" ></canvas>
          </div>
</div>



     
{% block script %}

<script>
    const ctx = document.getElementById('myChart');
  
    new Chart(ctx, {
      type: 'line',
      data: {
        labels: ['1', '2', '3', '4', '5', '6','7','8','9','10','11',"12"],
        datasets: [{
          label: '# of Votes',
          data:{{data}},
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
</script>
{% endblock %}
{% endblock %}



