{% extends "./manager_index.html" %}
{% load static %}
{% block title %}SETTINGS{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/manager_employee.css' %}">
<script src="https://cdn.tailwindcss.com"></script>
{% endblock %}

{% block content %}
<style>
    body {
        font-family: 'Plus Jakarta Sans', sans-serif;
        overflow: hidden;
    }
</style>

<div class="flex items-center justify-center min-h-screen">
    <div class="bg-white w-full flex flex-col gap-5 px-3 md:px-16 lg:px-28 md:flex-row text-[#161931]">

        <main class="w-full min-h-screen py-1 md:w-2/3 lg:w-3/4">
            <div class="p-2 md:p-4">
                <div class="w-full px-6 pb-8 mt-8 sm:max-w-xl sm:rounded-lg">
                    <div style="text-align: center;">
                        <h2 class="pl-6 text-2xl font-bold sm:text-xl">My Profile</h2>
                    </div>


                    {% comment %} {% if user.is_authenticated %} {% endcomment %}

                    <div class="grid max-w-2xl mx-auto mt-8">
                        <div class="flex flex-col items-center space-y-5 sm:flex-row sm:space-y-0">

                            <img class="object-cover w-40 h-40 p-1 rounded-full ring-2 ring-indigo-300 dark:ring-indigo-500"
                                src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                                alt="Bordered avatar">

                            <div class="flex flex-col space-y-5 sm:ml-8">
                                <button type="button"
                                    class="py-3.5 px-7 text-base font-medium text-indigo-100 focus:outline-none bg-[#202142] rounded-lg border border-indigo-200 hover:bg-indigo-900 focus:z-10 focus:ring-4 focus:ring-indigo-200 ">
                                    Change picture
                                </button>
                                <button type="button"
                                    class="py-3.5 px-7 text-base font-medium text-indigo-900 focus:outline-none bg-white rounded-lg border border-indigo-200 hover:bg-indigo-100 hover:text-[#202142] focus:z-10 focus:ring-4 focus:ring-indigo-200 ">
                                    Delete picture
                                </button>
                            </div>
                        </div>

                        <div class="items-center mt-8 sm:mt-14 text-[#202142]">

                            <div
                                class="flex flex-col items-center w-full mb-2 space-x-0 space-y-2 sm:flex-row sm:space-x-4 sm:space-y-0 sm:mb-6">
                                <div class="w-full">
                                    <label for="full_name"
                                        class="block mb-2 text-sm font-medium text-indigo-900 dark:text-black">Your
                                        Full Name</label>
                                    <input type="text" id="full_name"
                                        class="bg-indigo-50 border border-indigo-300 text-indigo-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5 "
                                        placeholder="Your Full name" value="{% if manager.fullname %}{{ manager.fullname }}{% else %}Not Set...{% endif %}" readonly>
                                </div>
                                
                                <div class="w-full">
                                    <label for="user_name"
                                        class="block mb-2 text-sm font-medium text-indigo-900 dark:text-black">Your
                                        User Name</label>
                                        <input type="text" id="user_name"
                                        class="bg-indigo-50 border border-indigo-300 text-indigo-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5 "
                                        placeholder="Your User Name" value="{% if manager.user.username %}{{ manager.user.username}}{% else %}Not Set ...{% endif %}" readonly>
                                </div>

                            </div>

                            <div class="mb-2 sm:mb-6">
                                <label for="email"
                                    class="block mb-2 text-sm font-medium text-indigo-900 dark:text-black">Your
                                    email</label>
                                <input type="email" id="email"
                                    class="bg-indigo-50 border border-indigo-300 text-indigo-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5 "
                                    placeholder="your.email@mail.com" value="{% if manager.user.email%}{{ manager.user.email}}{% else %}Not Set{% endif %}"readonly>
                            </div>

                            <div class="mb-2 sm:mb-6">
                                <label for="profession"
                                    class="block mb-2 text-sm font-medium text-indigo-900 dark:text-black">Profession</label>
                                <input type="text" id="profession"
                                    class="bg-indigo-50 border border-indigo-300 text-indigo-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5 "
                                    placeholder="your phone number"  value="{% if manager.phone_num%}{{ manager.phone_num}}{% else %}Not Set ...{% endif %}" readonly>
                            </div>

                            {% comment %} <div class="mb-6">
                                <label for="message"
                                    class="block mb-2 text-sm font-medium text-indigo-900 dark:text-white">Bio</label>
                                    <input type="text" id="profession"
                                    class="bg-indigo-50 border border-indigo-300 text-indigo-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5 "
                                    placeholder="your birthday"  value="{% if user.profile.birthday%}{{ user.profile.birthday}}{% else %}Not Set ...{% endif %}" readonly>
                            </div>

                            <div
                                class="flex flex-col items-center w-full mb-2 space-x-0 space-y-2 sm:flex-row sm:space-x-4 sm:space-y-0 sm:mb-6">
                                <div class="w-full">
                                    <label for="full_name"
                                        class="block mb-2 text-sm font-medium text-indigo-900 dark:text-white">Your
                                        Full Name</label>
                                    <input type="text" id="full_name"
                                        class="bg-indigo-50 border border-indigo-300 text-indigo-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5 "
                                        placeholder="Your Full name" value="{% if user.profile.city %}{{ user.profile.city }}{% else %}Not Set...{% endif %}" readonly>
                                </div>

                                <div class="w-full">
                                    <label for="user_name"
                                        class="block mb-2 text-sm font-medium text-indigo-900 dark:text-white">Your
                                        User Name</label>
                                        <input type="text" id="user_name"
                                        class="bg-indigo-50 border border-indigo-300 text-indigo-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5 "
                                        placeholder="Your User Name" value="{% if user.profile.address %}{{ user.profile.address}}{% else %}Not Set ...{% endif %}" readonly>
                                </div> 

                            </div>{% endcomment %}

                            <div class="flex justify-end">
                                <a href="{% url 'manager-editsettings' %}">
                                    <button class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
                                        Update
                                    </button>
                                </a>
                                <a href="">
                                    <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" style="margin-left: 10px;">
                                        Delete
                                    </button>
                                </a>
                                

                            </div>

                            

                        </div>
                    </div>
                    {% comment %} {% endif %} {% endcomment %}
                </div>
            </div>
        </main>
</div>





{% endblock %}