{% extends "./manager_index.html" %}
{% load static %}
{% block title %}index{% endblock %}

{%block style%}
<link rel="stylesheet" type="text/css" href="{% static 'css/manager_res.css' %}">
{% endblock %}

{% block content %}

<div class="container mt-5 d-flex ">
    
    <div  class="table-wrapper">
        <table class="fl-table">
        <thead>
            <tr>
                <th>Client</th>
                <th>Room</th>
                <th>Check-in</th>
                <th>Check-out</th>
                <th>Total Price</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.client.fullname }}</td>
                <td>{{ reservation.room.num }}</td>
                <td>{{ reservation.checkIn }}</td>
                <td>{{ reservation.checkOut }}</td>
                <td>{{ reservation.totalPrice }}</td>
                <td>{{ reservation.status }}</td>
                <td>
                    <a href="">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M8.707 19.707 18 10.414 13.586 6l-9.293 9.293a1.003 1.003 0 0 0-.263.464L3 21l5.242-1.03c.176-.044.337-.135.465-.263zM21 7.414a2 2 0 0 0 0-2.828L19.414 3a2 2 0 0 0-2.828 0L15 4.586 19.414 9 21 7.414z"></path></svg>
                    </a>
                    <a href="">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M6 7H5v13a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7H6zm10.618-3L15 2H9L7.382 4H3v2h18V4z"></path></svg>
                    </a>
                    </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>

{% endblock %}