{% extends "./manager_index.html" %}
{% load static %}
{% block title %}ROOM{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/manager_employee.css' %}">
<script src="https://cdn.tailwindcss.com"></script>
{% endblock %}

{% block content %}
<div id="sect" class="container mx-auto mt-12">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        {% for room in page_obj %}
        <div class="bg-light shadow-md rounded-md p-4">
            <div class="d-flex align-items-center">
                <div class="image ml-4 w-full">
                {% if room.image %}
                    <img src="{{ room.image.url }}" alt="Room Image" class="w-full rounded">
                {% endif %}
                </div>
                <div class="ml-3 w-full">
                    <h4 class="mb-0 mt-0 text-xl font-bold text-indigo-900">{{room.num}}</h4>
                    {% if room.is_reserved == "false" %}
                    <span class="text-gray-600">Available</span>
                    {% else %}<span class="text-gray-600">Not Available</span>
                    {% endif %}
                    <div class="mt-2 d-flex justify-content-between rounded text-white stats">
                    </div>
                    <div class="mt-2 d-flex flex-row align-items-center">
                        <a href="{% url 'roomdetails' room.id %}">
                            <button class="bg-red hover:bg-blue-500 text-blue-700 font-semibold hover:text-blue py-2 px-4 border border-blue-500 hover:border-transparent rounded">Details</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% comment %} <div class="fixed bottom-4 left-20">
    <a href="{% url 'addroom' %}">
        <button type="button" class="btn btn-primary" id="openModalBtn" data-toggle="modal" data-target="#exampleModalCenter">Add Room</button>
    </a>
</div> {% endcomment %}

<div class="fixed bottom-4 left-0 right-0">
    <div class="fixed bottom-4 left-20">
        <a href="{% url 'addroom' %}">
            <button type="button" class="btn btn-primary w-32 h-18" id="openModalBtn" data-toggle="modal" data-target="#exampleModalCenter">Add Room</button>
        </a>
    </div>
    <nav aria-label="Page navigation">
        <ul class="pagination flex justify-center mt-4">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">{{ num }}</span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>

{% endblock %}
