{% extends "./manager_index.html" %}
{% load static %}
{% block title %}index{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/manager_res.css' %}">
{% endblock %}

{% block content %}

<div class="container mt-5 d-flex ">
    
    <div  class="table-wrapper">
        <table class="fl-table">
        <thead>
            <tr>
                <th>Client</th>
                <th>Rooms</th> <!-- Changed header to plural -->
                <th>Check-in</th>
                <th>Check-out</th>
                <th>Total Price</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.client.fullname }}</td>
                <td> <!-- Updated to display multiple rooms -->
                    {% for room in reservation.rooms.all %}
                        {{ room.num }}{% if not forloop.last %} - {% endif %}
                    {% endfor %}
                </td>
                <td>{{ reservation.checkIn }}</td>
                <td>{{ reservation.checkOut }}</td>
                <td>{{ reservation.totalPrice }}</td>
                <td>{{ reservation.status }}</td>
                <td>
                    <a href="{% url 'facture' reservation.id %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M12 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zM6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path></svg>                    
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>

{% endblock %}
