
{% extends "./manager_index.html" %}
{% load static %}
{% block title %}ROOM{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/addRoom.css' %}">
<script src="https://cdn.tailwindcss.com"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block content %}
<section class="container">
    <header>Room Details</header>
    <form method="POST" class="form" enctype="multipart/form-data">
        {% csrf_token %}
      <section class="info">
        <div class="input-box">
          <label>Numero Room</label>
          <p> {{ room.num }}</p>
        </div>
        <br>
        <div class="input-box">
          <label>Price</label>
          <p>{{room.price}}</p>
        </div>
        <br>
        <div class="column">
          <div class="">
            <label>Type</label>
              <p>{{room.type}}</p>
          </div>
        </div>
        <div class="column">
          <label> Images </label>
          {% if room.image %}
                  <img src="{{ room.image.url }}" alt="Image of {{ room.num }}" width="300">
              {% endif %}
              
        </div>
        
      </section>
      <br>
     
      <div class="column">
        <div class="input-box">
          <label>Description</label>
          <p>{{room.description}}</p>
        </div>
      </div>
      <button>Edit</button>
      <button>Delete</button>
    </form>
  </section>

{% endblock %}