{% extends "./client_index.html" %}

{% block title %}index{% endblock %}

{% block style%}
<script src="https://cdn.tailwindcss.com"></script> 
<link rel="stylesheet" href="./node_modules/apexcharts/dist/apexcharts.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block content %}
<div class="container mt-24">
    
    <h1>Reservation History</h1>
    <ul>
        {% for reservation in reservations %}
            <li>
                <p>Check-in: {{ reservation.checkIn }}</p>
                <p>Check-out: {{ reservation.checkOut }}</p>
                <p>Status: {{ reservation.status }}</p>
                <!-- Add more details as needed -->
            </li>
        {% endfor %}
    </ul>
</div>



{% block script %}


{% endblock %}
{% endblock %}



