
{% extends "./client_index2.html" %}


{% block content  %}



<div class="mt-4 flex flex-col bg-white border border-sky-600 rounded-lg p-4 shadow-sm m-96 mt-8">
    <div style="text-align: center;">
      <h2 class="pl-6 text-2xl font-bold sm:text-3xl m-10">My Profile</h2>
    </div>
    <div class="mt-4">
      <label class="text-black font-bold  " for="name"> FullName</label>
      <input placeholder="Your fullname" class="w-full bg-sky-100 rounded-md border-gray-300 text-black px-2 py-1" value="{% if client.fullname %}{{ client.fullname }}{% else %}Not Set...{% endif %}" readonly>
    </div>

    <div class="mt-4">
      <label class="text-black font-bold " for="address"> Username</label>
      <input placeholder="Your username" class="w-full bg-sky-100 rounded-md border-gray-300 text-black px-2 py-1" id="address" value="{% if client.user.username %}{{ client.user.username }}{% else %}Not Set...{% endif %}" readonly>
    </div>

    <div class="mt-4">
      <label class="text-black font-bold  " for="address"> Email</label>
      <input placeholder="Your email" class="w-full bg-sky-100 rounded-md border-gray-300 text-black px-2 py-1" id="address" value="{% if client.user.email %}{{ client.user.email }}{% else %}Not Set...{% endif %}" readonly>
    </div>

    <div class="mt-4">
      <label class="text-black font-bold  " for="address"> Phone number</label>
      <input placeholder="Your phone number" class="w-full bg-sky-100 rounded-md border-gray-300 text-black px-2 py-1" id="address" value="{% if client.phone_num %}{{ client.phone_num }}{% else %}Not Set...{% endif %}" readonly>
    </div>

    <div class="mt-4">
      <label class="text-black font-bold  " for="address"> Address</label>
      <input placeholder="Your address" class="w-full bg-sky-100 rounded-md border-gray-300 text-black px-2 py-1" id="address" value="{% if client.address %}{{ client.address }}{% else %}Not Set...{% endif %}" readonly>
    </div>
<br>
  <div class="mt-4 flex justify-end">

    <a href="{% url 'client-editsettings' %}">
    <button class="bg-sky-600 text-white rounded-md px-4 py-1 hover:bg-sky-800 hover:text-white mr-2" type="submit">Update</button>
  </a>

  <a href="{% url 'client-deleteconfirmation' %}">
    <button class="bg-sky-600 text-white rounded-md px-4 py-1 hover:bg-sky-800 hover:text-white">Delete</button>
  </a>
  </div>
</div>




{% endblock   %}