{% extends "./client_index2.html" %}
{% block head %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}
{% block content %}
<div class="grid grid-cols-4 gap-4">
{% for r in rooms%}
<div class="relative flex w-80 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-xl mt-20 ml-20 ">
    <div class="relative mx-4 -mt-6 h-40 overflow-hidden rounded-xl bg-blue-gray-500 bg-clip-border text-white shadow-xl shadow-blue-gray-500/40 bg-gradient-to-r from-blue-500 to-blue-600">
        <img src="{{ r.image.url }}" alt="Room Image" >
    </div>
    <div class="p-6">
      

      <div class="grid grid-cols-2 gap-4">
        <h5 class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
          {{r.type}}
        </h5>
        <div class="px-6  ml-16">
        <button
        href="/"
        class=" px-1 rounded-md drop-shadow-xl bg-[#7289da] from-gray-800 to-black text-white"
      > {{r.Evaluation}}</button>
        </div>
      </div>
      
     <div class="grid grid-cols-2 gap-4">
      <p class="block font-sans text-base font-light leading-relaxed text-inherit antialiased">
        {{r.description}}
        </p>
        <p class="ml-6 block font-bold text-base text-blue-700  ">MAD {{r.price}}</p>
     </div>

     
     
    </div>

   
  

    <div class="p-6 pt-0">
      <a href="{% url 'client-Addreservation' r.id %}">
        <button data-ripple-light="true" 
                type="button" 
                class="select-none rounded-lg bg-blue-500 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-blue-500/20 transition-all hover:shadow-lg hover:shadow-blue-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" 
                >
            Book
        </button>
      </a>
    </div>
    
  
  </div>

{% endfor %}
</div>
      {% endblock %}

      {% block script %}
       <script src="../../static/js/client_room.js"></script>
        
      {% endblock %}
