{% load static %}
<!DOCTYPE html>

    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Signup </title>

        <!-- CSS -->
        <link rel="stylesheet" type = "text/css" href="{% static 'css/newlogin.css' %}">
                
        <!-- Boxicons CSS -->
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
                        
    </head>
    <body>
        <section class="container forms">
            <!-- Signup Form -->

            <div class="form login">
                <div class="form-content">
                    <header>Signup</header>
                    <form method = "POST" autocomplete = "off">
                        {% csrf_token %} 
                        <div class="field input-field">
                            <input type="text" placeholder="Username" class="input" name = "username">
                        </div>
                        
                        <div class="field input-field">
                            <input type="text" placeholder="Fullname" class="input" name = "fullname">
                        </div>

                        <div class="field input-field">
                            <input type="text" placeholder="Address" class="input" name = "address">
                        </div>

                        <div class="field input-field">
                            <input type="text" placeholder="Phone Number" class="input" name = "phone_num">
                        </div>

                        <div class="field input-field">
                            <input type="email" placeholder="Email" class="input" name = "email">
                        </div>

                        <div class="field input-field">
                            <input type="password" placeholder="Create password" class="password" name = "password1">
                        </div>

                        <div class="field input-field">
                            <input type="password" placeholder="Confirm password" class="password" name = "password2">
                            <i class='bx bx-hide eye-icon'></i>
                        </div>
                        

                        <div class="field button-field">
                            <button type="submit" name = "submit">Signup</button>
                        </div>
                    </form>

                    <div class="form-link">
                        <span>Already have an account? <a href="{% url 'client-login' %}">Login</a></span>
                    </div>
                </div>

                <div class="line"></div>

                <div class="media-options">
                    <a href="#" class="field facebook">
                        <i class='bx bxl-facebook facebook-icon'></i>
                        <span>Login with Facebook</span>
                    </a>
                </div>

                <div class="media-options">
                    <a href="#" class="field google">
                        <img src="#" alt="" class="google-img">
                        <span>Login with Google</span>
                    </a>
                </div>

            </div>
        </section>

        <!-- JavaScript -->
        <script src="{% static 'js/newlogin.js' %}"></script>
    </body>
</html>